@import "../../../src/assets/variables.scss";

.familyConfig {
  width: 100%;
  height: 100%;
  padding: 0px;
}

.header {
  display: flex;
  gap: 15px;
  padding: 30px 0px 12px;
  background-color: $main-purple;
  border-bottom: 2px solid white;
  color: #FFF;
  font-size: 18px;
  justify-content: space-evenly;

  .tab {
    cursor: pointer;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 80%;
      opacity: 0;
      left: 10%;
      bottom: 0px;
      border-bottom: 2px solid $main-blue;
      transition-property: all;
      transition-duration: 0.5s;
    }
  }

  .active {
    &::before {
      content: "";
      position: absolute;
      width: 110%;
      transform: translate(-13.5%, 5px);
      opacity: 1;
      border-bottom: 2px solid $main-blue;
      transition-property: all;
      transition-duration: 0.5s;
    }
  }
}

.inputContainer {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 15px;

  .input {
    width: 200px;
    border-radius: 4px;
    padding: 0px 5px;
    outline: none;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 500;
    height: 28px;
    transition: all;
    transition-duration: 0.2s;

    &[type="number"] {
      text-align: right;
      position: relative;
      width: 150px;

      &::after {
        content: "";
        position: absolute;
        height: 20px;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 1;
        background-color: red;
        z-index: 100;
        font-size: 16px;
      }

      &[name="porcentage"] {
        width: 90px;
      }
    }

  }

  .disabled {
    background-color: grey;
  }

  .actionsContainer {
    display: flex;
    gap: 10px;

    .actionButton {
      display: flex;
      border-radius: 4px;
      height: 28px;
      width: 28px;
      border: 1px solid black;
      align-items: center;
      justify-content: center;      
    }
  }
}

.inputList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}

.tabsContainer {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.buttonsContainer {
  display: flex;
  width: 100%;
  max-width: 500px;
  justify-content: space-evenly;
}

.mainTab {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.labels {
  display: flex;
  gap: 15px;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
  & > p {
    width: 200px;
  }
}