@import "../../assets/variables.scss";

.previewNavigation {
  width: 40%;
  height: 100%;
  max-width: 250px;
  background-color: $main-purple;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding-bottom: 15px;
  
  & > a {
    flex: 0 1 40px;
    align-self: center;
  }
  
  .header {
    text-align: center;
    align-items: center;
    border-bottom: 2px solid white;
    padding: 25px 0px 10px;
  }
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  padding: 15px 10px;
  
  & > p {
    margin-bottom: 10px;
  }

  & > input {
    padding: 4px 2px;
    font-size: 16px;
    margin-bottom: 25px;
  }
}

