@import "../../assets/variables.scss";

.LandingSectionContainer {
  margin: auto;
  background-color: $main-purple;
  width: 500px;
  max-width: 95vw;
  height: 90vh;
  margin-top: 5vh;
  max-height: 650px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.mainButtonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px
}

.imageContainer {
  margin: 10px 0;
}